.worksBlock{

    padding-top: 30px;
    min-height: 100vh;
    background-color: #111;
}
.worksContainer{
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
}
.title{

    background-color: grey;
}
.works{

    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}