.work{



    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

}
.image{
    background-color:gray ;
    position: relative;
    width: 300px;
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
}
.image::before{

    position: absolute;
    content:'';
    background-color: #111111;
    top:0;
    bottom:0;
    left:0;
    right:0;
    opacity: 0.4;

}


.icon{
    color: white;
    background-color: #5666; ;
    position: relative;
    left: 0;
    top: 50%;
    width: 100%;
    z-index: 1;
}
.description{
margin: 15px;
    font-family: 'Open Sans', sans-serif;
    color: #eee;
    font-size: 14px;
    width: 300px;
    font-weight: 500;
    line-height: 1.6;
    text-align: left;
}

.title{
    margin: 15px;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase!important;
    font-weight: 500;
    font-size: 22px;
    color: #fff;
}
.footer{
    background-color: #111 ;

}