
.freelanceContainer{

    background-color: #252527;
padding-top: 30px;
    padding-bottom: 30px;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
}
.title{
    background-color: #252527;
    margin: 40px;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase!important;
    font-weight: 500;
    font-size: 25px;
    color: #fff;

}
.freelance{
    background-color: #252527;
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    margin: 0 auto;
}

.icon{
    cursor: pointer;
    box-shadow: none !important;
    border-radius: 26px;
    font-weight: 500;
    height: 46px;
    line-height: 46px;
    font-size: 15px;
    text-transform: uppercase;
    color: #fff;
    background-color: #ffb400;
    padding: 0 40px;
    outline: none !important;
    overflow: hidden;
    display: inline-block;
    position: relative;
    font-family: 'Poppins', sans-serif;
    letter-spacing: .5px;
    border: 0;

}
.icon:active { background: linear-gradient(#f59500, #f5ae00) #f59500; }
.block{
    background-color: #252527;
}