.skillsBlock{
    height: 100vh;
    background-color: #c6ff9e;
}
.skillsContainer{
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
}
.title{
    background-color: grey;
}
.skills{
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}