.skill{
margin: 5px;
    padding: 5px;
    width: 300px;
    background-color: #111;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.icon{
    background-color:gray ;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    height: 150px;
    width: 150px;
    background-color: #111;
}

.title{

    font-family: 'Poppins', sans-serif;
    text-transform: uppercase!important;
    font-weight: 500;
    font-size: 22px;
    color: #fff;
}

.description{
    margin: 15px;
    font-family: 'Open Sans', sans-serif;
    color: #eee;
    font-size: 14px;}