.nav{


    width: 300px;
    display: flex;
    justify-content: space-between;
    color: white;
    font-size: 16px;
    line-height: 32px;
    font-family: 'Open Sans', sans-serif;


}
.nav a{
    color: white;
    text-decoration: none;
}
.nav a.activeLink{
    color: white;;
}