.nav{

    width: 300px;
    display: flex;
    justify-content: space-between;
    color: white;
    font-size: 16px;
    line-height: 32px;
    font-family: 'Open Sans', sans-serif;



}
a{

    cursor: pointer;
}
a:hover{
    text-decoration:none ;
    color: #f5ae00;
}

.active {

    color:#f5ae00;
}
