.footerBlock{
    padding-top: 30px;
    background-color: #111;


}

.footerContainer{

    height: 100%;
    width: 80%;
    margin: 0 auto;


    align-items: center;
    flex-direction: column;
    display: flex;
    justify-content: space-evenly;

    text-align: center;

}
.title{

    margin: 15px;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase!important;
    font-weight: 500;
    font-size: 18px;
    color: #fff;
}
.footer{

margin: 20px;

    width: 200px;
    height: 40px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
}

.icon{


    justify-content:center;
    text-align: center;
color: #ffb400;

}

.bottom{
    margin: 15px;
    font-family: 'Open Sans', sans-serif;
    color: #eee;
    font-size: 14px;
}

.codeWars {
margin-top: 4px;
}